concurrency: deploy
jobs:
  deploy:
    environment: production
    name: Deploy
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: superfly/flyctl-actions/setup-flyctl@fc53c09e1bc3be6f54706524e3b82c4f462f77be
      - env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          FLY_APP_NAME: green-hill-3802
        run: 'true' # flyctl deploy --app $FLY_APP_NAME --image ghcr.io/tfausak/monadoc:sha-${{ github.sha }}
name: Deploy
on:
  workflow_call:
    secrets:
      FLY_API_TOKEN:
        required: true
  workflow_dispatch: null
